/* Search Input Section */
.google__search__input {
    box-sizing: border-box;
    /* overflow: hidden; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid grey;
    padding: 0px;
    width: 60vw;
    margin-top: 20px;
    border-radius: 999px;
    width: 70vw;
}
.google__search__input:hover {
    background: rgb(66, 62, 62);
    border: none;
}
.google__search__input input[type="text"] {
    width: 60%;
    padding: 10px 15px;
    border: none;
    background: none;
    font-size: 1.2em;
    color: cornflowerblue;
    flex: 1;
}
.google__search__input input[type="text"]:focus {
    outline: 0;
}
.search__icon {
    color: white;
    padding: 10px;
    flex: flex-start;
}
.mic__icon {
    color: white;
    padding: 10px;
    flex: flex-end;
}

/* Search Buttons Section */
.google__search__btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 10px;
}
.google__search__btn button {
    padding: 10px;
    margin: 10px;
    color: white;
    transition: all 0.3s ease-in-out;
    background: #39393d;
    border: none;
    box-shadow: 0px 1px 6px #25252b;
    border-radius: 5px;
    text-transform: inherit;
}
.google__search__btn button:hover {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.hidden__buttons {
    display: none !important;
}

@media (max-width: 800px) {
    .google__search__input {
        width: 90vw;
    }
}
